.nav {
  display: flex;
  justify-content: center;
}

.navbar-desktop {
  display: none;
  background-color: var(--color-navbar);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 0.2rem;
}

.navbar-mobile {
  background-color: var(--color-navbar);
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding-block: 0.2rem;
  padding-inline: 1rem;
  width: 90%;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 9;
}
