/* === Navbar === */
.nav {
  display: flex;
  justify-content: center;
}

/* Navbar Desktop */
.navbar-desktop,
.navbar-mobile {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: var(--color-navbar);
  border-radius: 30px;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1rem;
  padding-block: 0.6rem;
  padding-inline: 1.5rem;
  position: fixed;
  width: 90%;
  z-index: 9;
}

.navbar-desktop {
  display: none;
  padding-inline: 4rem;
  padding-block: 1.1rem;
}

@media (min-width: 768px) {
  .navbar-desktop {
    display: flex;
  }
}

.navbar-desktop-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-desktop-logo a {
  color: var(--color-primary-text);
  text-shadow: 0 0 5px var(--color-secondary-text), 0 0 5px var(--color-secondary-text),
    0 0 5px var(--color-secondary-text);
  font-size: 1.5rem;
}

.navbar-desktop-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.navbar-desktop-links a {
  color: var(--color-primary-text);
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
}

.navbar-desktop-links a:hover::after {
  content: '';
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-color: var(--color-primary-text);
  margin: 0 auto;
  animation: transitionUnderlined 0.3s ease-in-out;
}

@keyframes transitionUnderlined {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* Navbar Mobile */
.navbar-mobile {
  display: flex;
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}

.navbar-mobile a i {
  color: var(--color-primary-text);
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

.navbar-mobile a i:hover {
  color: var(--color-secondary-text);
}

/* === Hero === */
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-block: 7rem;
  text-align: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding-inline: 1rem;
  color: #fff;
}

.hero-title span {
  position: relative;
}

.hero-title .first__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  border-left: 2px solid #fff;
  animation: animate 4s steps(17) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.hero-cv {
  background-color: var(--color-secondary-text);
  color: var(--color-primary-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0.8rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  border: none;
}

.hero-cv:hover {
  background-color: var(--color-secondary-text-hover);
}

.first__text {
  overflow: hidden;
  color: var(--color-secondary-text);
}

.hero-buttons_social {
  display: flex;
  gap: 2rem;
}

.hero-buttons_social img {
  width: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hero-buttons_social img:hover {
  transform: scale(1.1);
}

.low img {
  cursor: pointer;
  width: 7.5rem;
}

/* === About Skills === */
/* About */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.about-title {
  font-size: 2rem;
  color: var(--color-secondary-text);
  padding-bottom: 2rem;
  text-align: center;
}

.about-title:after {
  content: '';
  display: block;
  height: 0.5rem;
  background-color: var(--color-text-underlined);
  margin-top: -0.6rem;
  width: 100%;
}

.about-text {
  font-size: 1.2rem;
  line-height: 2;
  color: var(--color-primary-text);
}

/* Skills */
.allSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .allSkills {
    margin-top: 0;
  }
}

.allSkills-title {
  font-size: 2rem;
  color: var(--color-secondary-text);
  padding-bottom: 2rem;
  text-align: center;
}

.allSkills-title:after {
  content: '';
  display: block;
  height: 0.5rem;
  background-color: var(--color-text-underlined);
  margin-top: -0.6rem;
  width: 100%;
}

.allSkills-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.allSkills-tabsList {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  cursor: none;
}

@media (min-width: 500px) {
  .allSkills-tabsList {
    cursor: pointer;
  }
}

.tabsList_tabHeadActive {
  text-align: center;
  color: var(--color-primary-text);
  width: 100%;
  font-weight: 700;
}

.tabsList_tabHeadActive::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-primary-text);
  height: 2px;
  transition: all 0.3s ease-in-out;
  animation: fadeInTab 0.3s ease-in-out;
}

@keyframes fadeInTab {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.tabsList_tabHead {
  text-align: center;
  color: var(--color-primary-text);
  width: 100%;
}

.tabContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  animation: fadeIn 0.5s ease-in-out;
  justify-items: center;
}

@media (min-width: 468px) {
  .tabContent {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tabContentHide {
  display: none;
}

/* Skill */
.skill__figure {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 5rem;
  height: 5rem;
  width: 100%;
}

.skill__picture {
  width: 3.75rem;
  height: 3.75rem;
  transition: all 0.3s ease-in-out;
}

.skill__figure:hover .skill__picture {
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(-0.5rem);
}

.skill__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.skill__caption {
  color: var(--color-primary-text);
  position: absolute;
  bottom: -2.5rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.skill__figure:hover .skill__caption {
  bottom: 0.5rem;
}

